.propDetail {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.propDetail .title {
    text-transform: capitalize;
    font-weight: bold;
}

.propDetail.inline {
    flex-direction: row;
    gap: 5px;
}

.propDetail.inline .title::after {
    content: ":"
}

.propDetail-value-container {
    overflow-y: scroll;
    display: flex;
    width: 100%;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    margin: 0;
}

.propDetail-value-container.column {
    flex-direction: column;
    /* gap: 5px; */
}

.propDetail-value-container.row {
    flex-direction: row;
    /* gap: 10px; */
}

.propDetail-value-container.column .propDetail-value {
    padding: 2.5px 0;
}

.propDetail-value-container.row .propDetail-value {
    padding: 10px 0;
}

.propDetail-value:nth-child(1) .pokemon-ability {
  padding: 0;
}